[Unit]
Description=demo fastapi application 
After=network.target

[Service]
User=victory
Group=victory
WorkingDirectory=/home/victory/fastapi/src/
Environment="PATH=/home/victory/fastapi/venv/bin"
EnvironmentFile=/home/victory/.env
ExecStart=/home/victory/fastapi/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target